@view-transition {
	navigation: auto;
}

html::view-transition-group(*),
html::view-transition-old(*),
html::view-transition-new(*) {
  animation-fill-mode: both !important;
  animation-timing-function: var(--ease-out-quad);
  block-size: auto;
  animation-duration: 0.35s;
}

.vt-wrapper {
  view-transition-name: wrapper;
}

html::view-transition-group(wrapper),
html::view-transition-old(wrapper),
html::view-transition-new(wrapper) {
  block-size: auto;
}

.vt-body {
  view-transition-name: body;
}

::view-transition-old(body) {
	animation-name: blur-old;
}

::view-transition-new(body) {
	animation-name: blur-new;
}