/* ==========================================================================
   #BUTTON
   ========================================================================== */

/**
 * Button basic classes
 */

.o-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  font-size: var(--text-2xl);
  font-family: var(--font-display);
  color: var(--color-white);
  padding: var(--spacing-half);
  border-radius: var(--radius-base);
  gap: var(--spacing-quarter);
}

.o-button:hover,
.o-button:active:not(:disabled) {
  background-color: hsl(from var(--color-blue) h s 60% / 1);
  transform: scale(0.98);
  transition: 0.2s transform var(--ease-out-quad);
}

.o-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-blue);
}

.o-button:disabled,
.o-button[disabled] {
  background-color: var(--color-gray-dark);
  cursor: not-allowed;
  pointer-events: none;
}

.o-button[data-button-variant="is-bet-active"] {
  background-color: var(--color-blue-darkest);
}