/* ==========================================================================
   #INPUT
   ========================================================================== */

/**
 * Input base classes
 */

:root {
  --o-dropdown-border-radius: none;
  --o-dropdown-padding-vertical: var(--spacing-3);
  --o-dropdown-padding-horizontal: var(--spacing-3);
  --o-dropdown-font-size: var(--text-sm);
  --o-dropdown-font-family: var(--font-sans);
  --o-dropdown-color: var(--color-gray-darkest);
  --o-dropdown-border-color: var(--color-gray-lightest);
}

.o-dropdown,
.o-dropdown button {
  font-size: var(--o-dropdown-font-size);
}

@supports (appearance: base-select) {
  .o-dropdown,
  .o-dropdown option,
  ::picker(select) {
    appearance: base-select;
  }
}

.o-dropdown {
  cursor: pointer;
  border-radius: var(--o-dropdown-border-radius);
  padding: var(--o-dropdown-padding-vertical) var(--o-dropdown-padding-horizontal);
  font-size: var(--o-dropdown-font-size);
  font-family: var(--o-dropdown-font-family);
  color: var(--o-dropdown-color);
  background-color: hsl(from var(--color-white) h s l / 1);
  border: 1px solid var(--o-dropdown-border-color);
  display: flex;
  align-items: center;
}

.o-dropdown:hover{
  background-color: hsl(from var(--color-white) h s 97% / 1);
}

.o-dropdown:focus-visible {
  outline: 2px solid var(--color-blue);
}

.o-dropdown:disabled,
.o-dropdown[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: hsl(from var(--color-gray-lightest) h s 97% / 1);
}

.o-dropdown::picker-icon {
  content: '\2304';
  font-size: var(--font-size-base);
  line-height: 0.5;
  transform-origin: center 0.8ch;
  margin-top: -0.8ch;
  transition: transform 0.3s var(--ease-in-out-quad);
}

.o-dropdown:open::picker-icon {
  transform: rotateX(180deg);
  transition: transform 0.3s var(--ease-in-out-quad);
}


::picker(select) {
  border: 1px solid var(--color-gray-lightest);
  margin-block: var(--spacing-3);
  background-color: hsl(from var(--color-gray-lightest) h s 97% / 1);
  transition: all 0.3s var(--ease-in-quad);
}

.o-dropdown option {
  border: none;
  padding: var(--o-dropdown-padding-vertical) var(--o-dropdown-padding-horizontal);
}

.o-dropdown option:checked {
  color: hsl(from var(--color-gray-lighest) h s l / 90%);
  background-color: var(--color-gray);
}

.o-dropdown option:hover {
  color: hsl(from var(--color-gray-lighest) h s l / 90%);
  background-color: hsl(from var(--color-gray) h s l / 80%);
}

.o-dropdown option:hover:not(:checked)::after {
  content: "●";
  order: 1;
  margin-left: auto;
  position: absolute;
  right: var(--spacing-3);
  font-size: 0.3lh;
}

.o-dropdown option:focus-visible {
  outline: var(--color-gray-darkest) auto 1px;
} 

.o-dropdown option::checkmark {
  order: 1;
  margin-left: auto;
  content: "●";
  font-size: 0.3lh;
}