/* ==========================================================================
   #ROW
   ========================================================================== */

/**
 * Row component with container query support
 * Switches to column layout when container is less than 270px
 */

.o-row {
  container-type: inline-size;
  container-name: row;
}

.o-row div {
  display: flex;
  justify-content: space-between;
}

@container row (width < 270px) {
  .o-row div {
    flex-direction: column;
    align-items: center;
  }
}
